@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway:ital,wght@0,900;1,300&family=Space+Grotesk:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  border: none;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

header {
  max-width: 1920px;
  width: 100%;
  height: 70px;
  padding: 0px 315px;
  background: #ECF0FB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
header ul li .fa-solid {
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  background: var(--P, linear-gradient(91deg, #351EE0 0%, #3F74EF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header ul li span {
  color: #05092B;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
  margin-right: 3px;
}
header ul li .fa-brands {
  color: #05092B;
  font-size: 15px;
  font-weight: 400;
  width: 10px;
  height: 14.973px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 316px 0 314px;
  max-width: 1920pz;
  width: 100%;
  height: 100px;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .logo img {
  width: 40px;
  height: 40px;
}
nav .logo h3 {
  color: #05092B;
  font-size: 30px;
  font-weight: 700;
  line-height: 68px; /* 226.667% */
  letter-spacing: -1.48px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
nav ul li a {
  display: flex;
  align-items: center;
  gap: 5px;
}
nav ul li a span {
  color: #05092B;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
nav ul li a .fa-solid {
  color: #05092B;
  font-size: 10px;
  font-weight: 900;
}
nav ul li:hover span {
  text-decoration: underline;
}
nav .btn {
  height: 60px;
  padding: 20px 40px;
  border-radius: 5px;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav .btn span {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}

.brad-clambr {
  max-width: 1920px;
  height: 440px;
  background-image: url("../../img/Rectangle-3096.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
}
.brad-clambr::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: #05092B;
  opacity: 0.5;
}
.brad-clambr h2 {
  color: #FFF;
  font-size: 74px;
  font-weight: 700;
  line-height: 84px; /* 113.514% */
  letter-spacing: -1.48px;
  top: 150px;
  left: 45%;
  position: absolute;
}
.brad-clambr .title {
  position: absolute;
  top: 270px;
  left: 46%;
}
.brad-clambr .title i {
  color: #FFF;
}
.brad-clambr .title span {
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
  padding: 0 4px;
}

.container {
  width: 1290px;
  margin: 120px auto;
}
.container .search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}
.container .search h3 {
  color: var(--900, #05092B);
  font-family: "Space Grotesk";
  font-size: 32px;
  font-weight: 500;
  line-height: 40px; /* 125% */
  letter-spacing: -0.64px;
}
.container .search .search-2 {
  background: #F9F9F9;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 667px;
}
.container .search .search-2 .text {
  color: #737373;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
  padding: 12px 219px 11px 20px;
}
.container .search .search-2 .btn {
  width: 80px;
  height: 51px;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  padding: 19px 33px;
}
.container .search .search-2 .btn i {
  color: #FFF;
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
}
.container .box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.container .box .card {
  width: 410px;
  height: 463px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 5px 60px 0px rgba(0, 0, 0, 0.05);
}
.container .box .card .body {
  margin-top: 20px;
  margin-left: 40px;
}
.container .box .card .body h3 {
  color: #05092B;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 5px; /* 163.636% */
}
.container .box .card .body li {
  font-size: 10.492px;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 30px;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .box .card .body .price {
  color: #05092B;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  display: inline-block; /* 163.636% */
}
.container .box .card .body .btn {
  height: 60px;
  padding: 20px 40px;
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid #351EE0;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  gap: 50px;
  color: #05092B;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
.container .box .card .body .btn:hover {
  color: #FFF;
  border-radius: 5px;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
}

.conected {
  max-width: 1290px;
  margin: 10px auto;
  border: 2px solid rgb(227, 216, 216);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background: #FFF;
}
.conected .left {
  background: #351EE0;
  border-radius: 0% 100% 24% 76%/100% 100% 0% 0%;
}
.conected .left img {
  bottom: 50%;
  width: 546px;
}
.conected .text h2 {
  color: #05092B;
  width: 595px;
  font-family: "Space Grotesk";
  font-size: 60px;
  font-weight: 700;
  line-height: 68px; /* 113.333% */
  letter-spacing: -1.48px;
  text-transform: capitalize;
  text-align: left;
}
.conected .text h2 span {
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Space Grotesk";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -1.48px;
  text-transform: capitalize;
}
.conected .text .btn {
  height: 60px;
  padding: 20px 40px;
  display: inline-flex;
  border-radius: 5px;
  border: 1px solid #351EE0;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
  color: #05092B;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
.conected .text .btn:hover {
  color: #FFF;
  border-radius: 5px;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
}

footer {
  max-width: 1920px;
  height: 614px;
  background: #05092B;
}
footer .container {
  margin-top: 400px;
  width: 1290px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
footer .container .first {
  margin-top: 191px;
}
footer .container .first .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .first .logo img {
  width: 40px;
  height: 40px;
}
footer .container .first .logo h3 {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  line-height: 68px; /* 226.667% */
  letter-spacing: -1.48px;
}
footer .container .first .pera {
  width: 300px;
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
}
footer .container .first h4 {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
footer .container .first ul {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .container .first ul li {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #FFF;
  opacity: 0.3;
  position: relative;
}
footer .container .first ul li i {
  width: 14px;
  height: 12.39px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  top: 10px;
  left: 10px;
}
footer .container .first ul li:hover {
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
}
footer .container .second {
  margin-top: 191px;
}
footer .container .second h3 {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-weight: 700;
  line-height: 36px; /* 163.636% */
}
footer .container .second ul li .fa-solid {
  font-size: 16px;
  padding: 20px 0;
  font-weight: 900;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .container .second ul li span {
  color: #FFF;
  margin-left: 3px;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
}
footer .container .third {
  margin-top: 191px;
}
footer .container .third h3 {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-weight: 700;
  line-height: 36px; /* 163.636% */
}
footer .container .third ul li {
  padding: 15px 0;
}
footer .container .third ul li a i {
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer .container .third ul li a span {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
  margin-left: 12px;
}
footer .container .forth {
  margin-top: 191px;
}
footer .container .forth h3 {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 22px;
  font-weight: 700;
  line-height: 36px;
}
footer .container .forth li {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
  margin-left: 5px;
  padding: 24px 0;
}
footer .container .forth li i {
  font-size: 14px;
  font-weight: 400;
  background: linear-gradient(91deg, #351EE0 0%, #3F74EF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 5px;
}
footer .container .forth h4 {
  width: 200px;
  color: #fff;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; /* 166.667% */
}
footer .bor {
  margin: 0 auto;
  width: 1290px;
  height: 1px;
  background: #fff;
  opacity: 0.2;
}
footer .copy-right {
  margin-top: 30px;
  width: 1290px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .copy-right p {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  opacity: 0.7;
  padding: 30px 0;
}
footer .copy-right .ri {
  display: flex;
  align-items: center;
  gap: 20px;
}
footer .copy-right .ri li {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
}

h2 {
  text-align: center;
}/*# sourceMappingURL=main.css.map */