section{
     max-width: 1920px;
     height: 440px;
     background-image: url('../../img/Rectangle-3096.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 999;
     position: relative;
     background: linear-gradient(to right, rgba(128, 128, 128, 0.119));
    h2{
     color:   #FFF;
     font-size: 74px;
     font-weight: 700;
     line-height: 84px; /* 113.514% */
     letter-spacing: -1.48px;
     top: 150px;
     left: 45%;
     position: absolute;
    }
    .title{
     position: absolute;
     top: 270px;
     left: 46%;
      
     i{
          color: #FFF;
     }
      span{
          color: #FFF;
          font-size: 22px;
          font-weight: 700;
          line-height: 36px;  
          padding: 0 4px;
      }
    }
}
